{
  "presets": ["@babel/preset-react", "@babel/preset-flow", "@babel/preset-typescript", "@babel/preset-env"],
  "plugins": [
    ["module-resolver", {
      "root": [
        "./src"
      ],
      "alias": {
        "@": "./src"
      }
    }]
  ]
}